.body{}
.menubarfirst{}
.menubarfirsttt{
    display: inline-flex;
    background: url(../img/red.jpg);
    background-size: 24vw;
    height: 2vw;
    margin-top: -0.4vw;
}
.menubarfirstone{}
.menubarfirstzeroone{}
.menubarfirstzeroone p{
    font-size: 1.3vw;
    text-transform: capitalize;
    margin-top: 0.6vw;
    padding: 0vw 1vw;
    color: #fff;
}
.menubarfirstzerotwo{}
.menubarfirstzerotwo nav{
    margin-left: 58vw;
    margin-top: -0.3vw;
}
.menubarfirstzerotwo nav ul{}
.menubarfirstzerotwo nav ul li{
    display: inline-flex;
}
.menubarfirstzerotwo nav ul li a{
    text-decoration: none;
    font-size: 1.6vw;
    margin-left: 1vw;
    margin-top: -1vw;
    color: #fff;
}
.menubarfirstzerotwo nav ul li a:hover{}
.menubarsecend{
    height: 4vw;
    margin-top: 0vw;
}
.menubarsecendone{
    display: inline-flex;
}
.menubarsecendoneone{
    display: inline-flex;
}
.menubarsecendoneoneone{
    display: inline-flex;
}
.menubarsecendoneoneone p{
    font-size: 4vw;
    margin-top: 0vw;
    margin-left: 1vw;
    margin-bottom: 0vw;
}
.menubarsecendoneoneoneone{
    display: inline-flex;
    height: 4vw;
}
.menubarsecendoneoneoneone p{
     margin-left: 1vw;
    color: #000;
    margin-top: 2.1vw;
    font-size: 1.4vw;
}
.menubarsecendonetwo{
    display: inline-flex;
}
.menubarsecendonetwotwo{
}
.menubarsecendonetwotwo input{
    margin-left: 29vw;
    margin-right: -2vw;
    margin-top: 1.1vw;
    font-size: 2vw;
    border-radius: 2vw;
}

.menubarsecendonetwotwotwo{}
.menubarsecendonetwotwotwo nav{
       margin-top: -2vw;
}
.menubarsecendonetwotwotwo nav ul{}
.menubarsecendonetwotwotwo nav ul li{
    display: inline-flex;
}
.menubarsecendonetwotwotwo nav ul li a{
    text-decoration: none;
    font-size: 1.2vw;
    margin-left: 1vw;
    margin-top: 0vw;
    color: #000;
    margin-top: 3vw;
}
.menubarsecendonetwotwotwo nav ul li a:hover{}



.menubarthird{}
.menubarthirdone{
    display: inline-flex;
}
.menubarthirdzeroone{}
.menubarthirdzeroone nav{   
     margin-left: -3vw;
}
.menubarthirdzeroone nav ul{}
.menubarthirdzeroone nav ul li{
    display: inline-flex;
}
.menubarthirdzeroone nav ul li a{
     text-decoration: none;
    font-size: 1.2vw;
    margin-left: 1vw;
    margin-top: 0.6vw;
    color: #000;
    text-transform: capitalize;
}
.menubarthirdzeroone nav ul li a:hover{}


.menubarthirdzeroone{}
.menubarthirdzerooneone{}
.menubarthirdzerooneone nav{
    margin-left: 22vw;
}
.menubarthirdzerooneone nav ul{}
.menubarthirdzerooneone nav ul li{
    display: inline-flex;
}
.menubarthirdzerooneone nav ul li a{
    border-radius: 0.8vw;
    text-decoration: none;
    font-size: 1.2vw;
    margin-left: 1vw;
    margin-top: 0vw;
    color: #fff;
    text-transform: capitalize;
    background: brown;
    padding: 0.4vw;
}
.menubarthirdzerooneone nav ul li a:hover{}


.bannerfirst{}
.bannerfirstfirstone{}
.bannerfirstfirstoneone{}
.bannerfirstfirstoneone img{
    width: 100vw;
    height: 30vw;
}


.bannersecend{
}
.bannersecendone{
}
.bannersecendoneone{
    display: inline-flex;
}
.bannersecendoneone h1{
    font-size: 4vw;
    padding: 7vw 2vw;
}
.bannersecendoneone img{
       width: 53vw;
    height: 27vw;
}




.cardfirst{}
.cardfirstone{}
.cardfirstone p{
    font-size: 2vw;
    text-transform: capitalize;
    margin-top: 3vw;
}
.cardfirsttwo{
    display: inline-flex;
}
.cardfirsttwotwo{
    width: 30vw;
    height: 38vw;
    margin-left: 2vw;
    border-radius: 2vw;
}
.cardfirsttwotwo h1{
    margin: 00vw;
    margin-bottom: -1vw;
    margin-left: .3vw;
}
.cardfirsttwotwo p{
    margin: 1vw;
    /* margin-bottom: -1vw; */
    margin-left: .3vw;
    font-size: 1vw;
    text-transform: capitalize;
    font-weight: 1.2vw;
}
.cardfirsttwotwo img{
    width: 100%;
    height: 28vw;
    border-radius: 2vw;
}
.cardfirsttwotwo img:hover{
    width: 96%;
    height: 24vw;
    transition: 1s;
}

.cardfirsttwotwo p{}




.bannersecend{}
.bannersecendoneee{}
.bannersecendone{}
.bannersecendone p{
    margin-top: -1vw;
    margin-left: 2vw;
    text-transform: capitalize;
    font-size: 2vw;
}
.bannersecendtwo{
    display: inline-flex;
}
.bannersecendtwotwo{
    text-align: center;
    margin-left: 6vw;
}
.bannersecendtwotwo img{}
.one img{}
.one p{
    font-size: 3vw;
    text-transform: capitalize;
}
.one h1{
    text-transform: capitalize;
    font-size: 4vw;
    margin-top: -3vw;
    margin-bottom: -1vw;
}
.one b{
    text-transform: capitalize;
    font-size: 2.6vw;
    margin-top: 0vw;
    margin-bottom: 0vw;
    position: absolute;
    left: -1vw;
    right: 0vw;
    top: 133vw;
}
.one button{
    text-transform: capitalize;
    font-size: 3vw;
    margin-top: 6vw;
    margin-bottom: 0vw;
    padding: 1vw;
    border-radius: 2vw;
}
.one button:hover{
    background: black;
    color: #fff;
    transition: 2s;


}

.two img{
    
    width: 100%;
    height: 34vw;
}
.two p{}
.two h1{}
.two h4{}
.two button{}


.cardsecend{}
.cardsecendone{}
.cardsecendone p{
    font-size: 2vw;
    text-transform: capitalize;
    margin-top: 3vw;
    margin-bottom: 0vw;
}
.cardsecendtwo{
    display: inline-flex;
}
.cardsecendtwotwo{
    width: 17vw;
    height: 38vw;
    margin-left: 2vw;
    border-radius: 2vw;
}
.cardsecendtwotwo h1{
    margin: 1vw;
    /* margin-bottom: -1vw; */
    margin-left: .3vw;
    font-size: 2vw;
    text-transform: capitalize;
}
.cardsecendtwotwo img{
    width: 100%;
    height: 19vw;
    border-radius: 2vw;
}

.cardsecendtwotwo img:hover{
    width: 96%;
    height: 17vw;
    transition: 1s;
}
.cardsecendtwotwo p{
    margin: 1vw;
    /* margin-bottom: -1vw; */
    margin-left: .3vw;
    font-size: 2vw;
    text-transform: capitalize;
}
.cardsecendtwotwo h4{
    margin: 1vw;
    /* margin-bottom: -1vw; */
    margin-left: .3vw;
    font-size: 1vw;
    text-transform: capitalize;
    margin-top: -1vw;
}


.cardthird{}
.cardthirdone{}
.cardthirdone p{
    font-size: 2vw;
    text-transform: capitalize;
    margin-top: -4vw;
}
.cardthirdtwo{display: inline-flex;}
.cardthirdtwotwo{
    width: 14vw;
    height: 34vw;
    margin-left: 2vw;
    border-radius: 2vw;

}
.cardthirdtwotwo h1{
    margin: 1vw;
    /* margin-bottom: -1vw; */
    margin-left: .3vw;
    font-size: 2vw;
    margin-top: 0vw;
    text-transform: capitalize;
}
.cardthirdtwotwo img{
    width: 100%;
    height: 13vw;
    border-radius: 2vw;
}
.cardthirdtwotwo img:hover{
    width: 96%;
    height: 12vw;
    transition: 1s;
}
.cardthirdtwotwo h4{
    margin: 1vw;
    /* margin-bottom: -1vw; */
    margin-left: .3vw;
    font-size: 1vw;
    text-transform: capitalize;
    margin-top: -1vw;
}


.bannercard{}
.bannercardone{}
.bannercardoneone{
    background: pink;
    height: 14vw;
    margin-top: -11vw;
    border-radius: 2vw;

}
.bannercardoneone h1{
    padding: 3vw 37vw;
    text-transform: capitalize;
    font-size: 4vw;
}
.bannercardoneone h4{
    padding: 0vw 28vw;
    text-transform: capitalize;
    font-size: 4vw;
    margin-top: -7vw;
}
.bannercardtwo{
    display: inline-flex;
}
.bannercardtwotwo{
    width: 14vw;
    height: 34vw;
    margin-left: 2vw;
    border-radius: 2vw;
}
.bannercardtwotwo h1{
    text-align: center;
}
.bannercardtwotwo img{
    width: 100%;
    height: 13vw;
    border-radius: 2vw;
}
.bannercardtwotwo img:hover{
    width: 96%;
    height: 12vw;
    transition: 1s;
}





.cardlast{
    margin-top: -12vw;
}
.cardlastone{}

.cardlastone p{
    font-size: 2vw;
    text-transform: capitalize;
    margin-top: -4vw;
}
.cardlasttwo{
    display: inline-flex;
}
.cardlasttwotwo{
    width: 43vw;
    height: 34vw;
    margin-left: 6vw;
    border-radius: 4vw;
}
.cardlasttwotwo h1{
    position: absolute;
    left: 23vw;
    top: 285vw;
    font-size: 6vw;
    color: #fff;
}
.cardlasttwotwo h4{
    position: absolute;
    left: 27vw;
    top: 285vw;
    font-size: 6vw;
    color: #fff;
}
.cardlasttwotwo img{
    width: 100%;
    height: 28vw;
    border-radius: 2vw;
}
.cardlasttwotwo h2{
    position: absolute;
    left: 55vw;
    top: 280vw;
    font-size: 6vw;
    color: #000;
}
.cardlasttwotwo h3{
    position: absolute;
    left: 55vw;
    top: 285vw;
    font-size: 6vw;
    color: #000;
}
.cardlasttwotwo{}






